/* Menu.css */

body{
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: white;
}

li {
  margin-right: 15px;
  cursor: pointer;
}

li:last-child {
  margin-right: 0;
}

.menu-body{
    height: 14vh;
    display: flex;
    margin: 20px;
}