/* Menu.css */

body{
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: white;
}

li {
  margin-right: 15px;
  cursor: pointer;
}

li:last-child {
  margin-right: 0;
}

.menu-body{
    height: 14vh;
    margin: 20px;
    font-weight: 700;
    width: 100%;
}

.list-item img{
  width: 100%;
  min-height: 70%;
  max-height: 70%;
}