/* Menu.css */

body{
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: white;
}

li {
  margin-right: 15px;
  cursor: pointer;
}

li:last-child {
  margin-right: 0;
}


@media (max-width: 480px) {
.menu-body{
  position: relative  !important;
  height: 8vh !important;
}
}

.menu-body{
    height: 10vh;
    font-weight: 700;
    margin-top: 3%;
    width: 100%;
    z-index: 1000;
}

.list-item img{
  width: 100%;
  min-height: 70%;
  max-height: 70%;
}

.footer-body{
  width: 100%;
  padding: 4%;
}

.center_logo{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-block-start: 2%;
  margin-block-end: 1%;
}

.custom-dropdown-menu {
  right: 0%; /* Décale le menu à gauche du bouton */
  left: auto; /* Désactive le positionnement par défaut à gauche */
  /* top: 0%; */
}

.list-item.active{
  cursor: pointer;
  transform: scale(1.2) !important;
  transition: transform 0.5s;
}

.list-item.next {
  /* autres styles pour .list-item.inactive si nécessaire */
  transform: scaleY(0.9) !important; /* Réduit la hauteur à 80% */
  transition: transform 0.5s;
  transform-origin: bottom;
}
.list-item.previous {
  /* autres styles pour .list-item.inactive si nécessaire */
  transform: scaleY(0.9) !important; /* Réduit la hauteur à 80% */
  transition: transform 0.5s;
  transform-origin: top;
}

.list-item.inactive{
  scale: 1;
}

.text-overlay {
  position: absolute; /* Positionnement absolu pour superposer sur l'image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white; /* Choisissez une couleur contrastante pour le texte */
  /* Ajoutez d'autres styles pour le texte si nécessaire */
}

.team-member-name {
  font-size: 1.5rem; /* Taille de base */
}

.team-member-description {
  font-size: 1rem; /* Taille de base */
}

@media (max-width: 768px) {
  .team-member-name {
    font-size: 1.2rem; /* Plus petite sur les écrans réduits */
  }

  .team-member-description {
    font-size: 0.5rem; /* Plus petite sur les écrans réduits */
  }
}
