/* #root{
    background-image: url('../../../public/Fondsite1.svg');
    background-repeat: no-repeat;
    background-size: cover;
} */

body {
    background-image: url('../../../public/Fondsite1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'ITCAvantGardeStd-Bold';
    src: url('/public/fonts/ITCAvantGardeStd-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
